*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}

.navigation{
    background-color: rgb(248, 242, 231);
    padding: 2% 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    z-index: 1000;
}
.donation,.coin{
    display: flex;
    flex-direction: row;
    gap: 8%;
}
.donation h4{
    padding-top: 7%;
}
.coin h4{
    color: gray;
}

.btn{
    background-color: lawngreen;
    border: none;
    border-radius: 10px;
    padding: 7px 22px;
    font-weight: bold;
}

.below-navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 5%;
}
.btn-wt{
    background: none;
    border-radius: 10px solid gray;
    padding: 7px 22px;
    font-weight: bold;
    color: gray;
    cursor: pointer;
    text-decoration: none;
}
.long-btn{
    background-color: lawngreen;
    border: none;
    border-radius: 10px;
    padding: auto;
    font-weight: bold;
    padding: 2% 5%;
}
/* .card-section{
    display: grid;
    grid-template-rows: repeat(3,1fr);
} */
.card{
    margin: 2% 15%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.card input{
    padding: 5px 20px;
    margin: 10px 5px;
}
.coin-bdt{
    display: flex;
    flex-direction: row;
}
.input-btn{
    display: flex;
    flex-direction: column;
    gap: 20px;
}